
@import "src/assets/styles/colors.scss";

:host {
    background-color: $navy-blue;
}

div {
    margin-bottom: 10px;
}

h1 {
    color: white;
}

service-card-content--item {
    float: right;
}

.header {
    text-align: center;
}