<ng-container class="container">
  <div class="header" style="height: 10%;">
    <h1>Bienvenido, user!</h1>
  </div>
  <div style="margin-bottom: 10px; height: 90%">
    <ion-card (click)="goTo('spending')">
      <ion-item class="ion-no-padding">
        <ion-card-title>Servicio</ion-card-title>
        <div class="service-card-content">
          <ion-label class="service-card-content--item"># suscripciones</ion-label>
          <ion-label class="service-card-content--item">costo total</ion-label>
        </div>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item class="ion-no-padding">
        <ion-card-title>Proximamente</ion-card-title>
        <div class="service-card-content">
          <ion-label class="service-card-content--item"></ion-label>
          <ion-label class="service-card-content--item"></ion-label>
        </div>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item class="ion-no-padding">
        <ion-card-title>Proximamente</ion-card-title>
        <div class="service-card-content">
          <ion-label class="service-card-content--item"></ion-label>
          <ion-label class="service-card-content--item"></ion-label>
        </div>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item class="ion-no-padding">
        <ion-card-title>Proximamente</ion-card-title>
        <div class="service-card-content">
          <ion-label class="service-card-content--item"></ion-label>
          <ion-label class="service-card-content--item"></ion-label>
        </div>
      </ion-item>
    </ion-card>
  </div>
</ng-container>
