@import "src/assets/styles/colors.scss";

ion-card {
    border: $core-blue-dark 2px solid
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-mini-card {
    width: 70px;
    height: 70px;
}